:root {
    --background :rgb(37, 37, 37);
    --panel: rgb(26, 26, 26);
    --text-color1: rgb(219, 219, 219);
    --text-color2: rgb(185, 185, 185);
    --accent1: rgb(221, 183, 34);
    --accent2: rgb(88, 88, 88);
}

body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
    color: var(--text-color2);
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

button, input {
    color: var(--text-color1);
    height: 100%;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    margin: 0px 2.5px;
    background-color: rgba(0, 0, 0, 0.089);
    
    /* border: solid white 1px; */
    border: solid white 0px;
    border-bottom: 1px solid rgb(90, 90, 90);
}

#map-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

svg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#canvas,#canvas-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

#toolbar-wrapper {
    width: 400px;
    height: 70%;
    margin-top: 5%;
    position: absolute;
    right: 0px;
    background-color: rgba(26, 26, 26, 0.609);
    box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(20px);
    z-index: 3;
    padding: 2% 1% 1% 1%;
}

#toolbar-wrapper:before {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + 5px);
    height: 5px;
    left: -5px;
    top: -5px;
    background-color: var(--accent1);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0.479);
}

#toolbar-wrapper:after {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + 5px);
    height: 5px;
    left: -5px;
    bottom: -5px;
    background-color: var(--accent1);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 0, 0.479);
}

#toolbar-wrapper h2 {
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    color: var(--text-color1);
}

#toolbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tool {

}

.tool:hover ,#brushes > button:hover {
    border: solid var(--accent1) 1px;
}

#brushes {
    width: 100%;
    height: max-content;
    margin: 30px 0px 30px 0px;
    border-top: 2px solid var(--accent2);
    padding: 30px 0px 0px 0px;
}

#brushes > button {
    width: 100%;
    padding: 10px 40px;
}

#brushes-container {
    width: 100%;
    height: max-content;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.brush {
    width: calc(100% - 20px);
    padding: 10px;
    border: 0px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

#brush-properties, #fill-properties {
    width: 100%;
    height: max-content;
    margin: 30px 0px 30px 0px;
    border-top: 2px solid var(--accent2);
    padding: 0px 10px 0px 10px;
}

#brush-properties input, #fill-properties input {
    height: 100%;
    margin-left: 10px;
}

#brush-properties div, #fill-properties div {
    margin: 25px 0px;
    height: 1em;
}

#brush-properties p, #fill-properties p {
    font-size: 1.5em;
    width: max-content;
}

#brush-properties div > *, #fill-properties div > * {
    display: inline;
}

#name-input {

}

#color-picker, #fill-color-picker {
    width: 2em;
    height: 1em;
    padding: 0px;
}

#thickness-input, #transparency-input {
    width: 5em;
}

input[type="color"] {
	padding: 0px;
    border: 0px solid white;
}

#waypoint-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#waypoint-box {
    padding: 10px;
    width: max-content;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    display: none;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.267);
    resize: both;
}

#waypoint-box textarea {
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0);
    border: 0px solid black;
    margin: 0px;
    color: white;
    display: block;
    resize: none;
}

#waypoint-box textarea:enabled {
    border: 0px solid black;
    outline: 0px black;
    padding: 0px;
}

#waypoint-box textarea::selection {
    background-color: rgba(255, 255, 0, 0.609);
}

#waypoint-box input {
    width: calc(100% - 30px);
    height: max-content;
    font-size: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    border: 0px solid red;
    border-bottom: 1px solid rgb(90, 90, 90);
}

#waypoint-box input:enabled {
    border: 0px solid red;
    border-bottom: 1px solid rgb(90, 90, 90);
    outline: 0px black;
}




  